version: "3.9"

services:
  keycloak-db:
    image: postgres:16
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    networks:
      - sso-example-net

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.5
    command: ["start-dev", "--import-realm"]
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      # Единый issuer для токенов (localhost:8210), чтобы userinfo по keycloak:8080 принимал токен
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: "8210"
    ports:
      - "8210:8080"
    depends_on:
      - keycloak-db
    networks:
      - sso-example-net
    volumes:
      - ./realm-export.json:/opt/keycloak/data/import/realm-export.json:ro

volumes:
  keycloak_db_data:

networks:
  sso-example-net:
    external: true

